.wrauperr {
  font-family: "Gilam", sans-serif;
  background: #171717;
  padding-bottom: 238px;
}
.container {
  width: 1460px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
  padding-top: 36px;
}
.link-callback {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 49px;
  padding-right: 25px;
  color: #e4b564;
  font-size: 18px;
  line-height: 30px;
  border: 1px solid #e4b564;
}
.icon-callback {
  position: absolute;
  left: 26px;
  top: 17px;
}
.section-intro.parallax {
  height: 100%;
  background: url(../imeg/header-bg.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-intro {
  padding-top: 60px;
  padding-bottom: 80px;
}
.section-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
}
.description {
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 40px;
}
.intro-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, minmax(468px, auto));
  grid-auto-rows: minmax(468px, auto);
  gap: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  list-style: none;
  padding-left: 0;
  margin: 0;
  text-align: center;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 44px;
  padding-right: 44px;
}
.item__one {
  grid-area: 1 / 1 / 1 / 3;
  background: #634f2c;
}
.item__two {
  grid-area: 1 / 3 / 1 / 5;
  background: #b4a385;
}
.item__three {
  grid-area: 1 / 5 / 1 / 7;
  background: #e4b564;
}
.item__four {
  grid-area: 2 / 1 / 2 / 4;
  background: #635a4a;
}
.item__five {
  grid-area: 2 / 4 / 2 / 7;
  background: #b08c4d;
}
.technique.parallax {
  height: 100%;
  background: url(../imeg/engineering.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.technique {
  margin-bottom: 191px;
  margin-top: 80px;
}
.technique-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: flex-start;
  gap: 27px;
  margin-top: 94px;
  list-style: none;
  height: 910px;
  padding-left: 0;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}
.technique-item {
  width: 467px;
  padding-top: 44px;
  padding-left: 52px;
  padding-right: 113px;
}
.technique-list-item1 {
  background: #0e0e0e;
  min-height: 313px;
}
.technique-list-item2 {
  background: #1f1f1f;
  min-height: 560px;
}
.technique-list-item3 {
  background: #242424;
  min-height: 440px;
}
.technique-list-item4 {
  background: #e4b564;
  min-height: 405px;
}
.technique-list-item5 {
  background: #1f1f1f;
  min-height: 255px;
}
.technique-list-item6 {
  background: #0e0e0e;
  min-height: 313px;
}
.technique-list-item7 {
  background: #0a0909;
  min-height: 277px;
}
.presentation.parallax {
  height: 100%;
  background: url(../imeg/parallax-bg.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.presentation {
  padding-top: 172px;
}
.div-presentation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 71px;
}
.link-projects {
  padding: 10px 40px;
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
  border: 1px solid #e4b564;
}
.presentation {
  background: #0e0e0e;
}
.projects-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(391px, max-content);
  list-style: none;
  padding-left: 0;
  margin: 0;
  text-align: center;
}
.projects-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-list-item1 {
  background: #634f2c;
}
.projects-list-item2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(232, 210, 171, 0.76);
}
.projects-text {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
  margin: 16px 80px 12px;
}
.projects-img2 {
  margin-top: 61px;
  margin-bottom: 3px;
}
.projects-list-item3 {
  background: #e4b564;
}
.projects-list-item4 {
  background: #635a4a;
}
.projects-list-item5 {
  background: #b08c4d;
}
